<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.like.dao.LikeDAO">
	<select id="existLikeByPostIdAndUserId" parameterType="map" resultType="boolean">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postid` = #{postId}
			AND `userid` = #{userId}
	</select>
	
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`postid`
			, `userid`
			, `createdAt`
		)
		VALUES
		(
			#{postId}
			, #{userId}
			, NOW()
		)
	</insert>
	
	<delete id="deleteLikeByPostIdAndUserId" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			`postid` = #{postId}
			AND `userid` = #{userId}
	</delete>
	
	<select id="selectLikeCountByPostId" resultType="int">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postid` = #{postId}
	</select>
	<delete id="deleteLikeByPostId" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			`postid` = #{postId}
			
	</delete>
</mapper>